* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}

body {
    /* background-color: #dfeee9; */
    background: rgb(240, 239, 239);
}

#main-side {
    right: 0;
    width: 85%;
    height: 100%;
    position: absolute;
    padding-bottom: 5%;
    transition: .4s width;
}

#main-side-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    margin: 2%;
}

#main-side-top-title {
    font-size: 50px;
    padding: 2%;
    border-right: black solid;
    font-family: 'Libre Baskerville', serif;
    /* background-color: rgb(202, 223, 223); */
}

#main-side-top-option {
    color: white;
    display: flex;
    border: solid gray 1px;
    padding: 1%;
    border-radius: 50%;
    background-color: #334257;
    height: fit-content;
    cursor: pointer;
    box-shadow: 3px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s;
}

#home {
    color: white;
    text-decoration: none;
}

#main-side-top-option:hover {
    border: solid gray 1px;
    border-radius: 50px;
}

#main-side-content {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-icon {
    margin-left: 5px;
}

#side-tool {
    width: 15%;
    height: 100%;
    background-color: black;
    position: fixed;
    color: white;
    transition: .4s width;
}

#home-btn {
    color: white;
    font-size: 200%;
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;
}

#side-tool-option-wrapper {
    color: white;
    font-size: 20px;
    position: absolute;
    width: 80%;
    margin-top: 5%;
    top: 100px;
    right: 5px;
    cursor: pointer;
}

#side-tool-schedule {
    margin-bottom: 20px;
    width: fit-content;
    transition: 0.3s;
    display: block;
    color: gray;
    text-decoration: none;
}

.side-tool-option {
    margin-bottom: 20px;
    width: fit-content;
    transition: 0.3s;
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
}

.side-tool-option::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    bottom: -5px;
    /* sao lai the nhi */
    left: 0;
    transform: scaleX(0);
    transform-origin: 100%;
    transition: .2s transform;
}

.side-tool-option:hover::after {
    transform: scaleX(1);
    transform-origin: 0%;
}

/* Form hẹn lịch */


#left-side{
    box-shadow: 3px 6px 20px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    height: 70%;
    text-align: center;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 5%;
    background-color: #8AC4D0;
    background-size: cover;
}
#left-side-title{
    margin-top: 6%;
    color: white;
    font-size: 40px;
    margin-bottom: 3%;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 3px 2px #254563;
}
#left-side-text{
    color: rgb(87, 80, 80);
 
    font-family: 'Crimson Pro', serif;
}
#left-side-img{
    position: relative;
    width: 75%;
    border-radius: 5%;
}

#log-in {
    box-shadow: 3px 6px 20px 0 rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 70%;
    text-align: center;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-color: #F4D160;
    background-size: cover;
}


#log-in-title{
    color: #261C2C;
    font-size: 70px;
    height: 30%;
    margin-bottom: 5%;
}

#log-in-form{
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
    width:60%;
}
.info-holder{
    margin-right: 0; 
    margin-bottom: 10px;
}

.info{
    
    border: none;
    background-color: rgb(243, 243, 243);
    border-bottom: solid #3E2C41 2px;
    width: 200px;
    height: 5px;
    padding: 5%;
    color: gray;

}
.info:focus{
    border-bottom: solid whitesmoke 2px;
}
.info-big{
    
    border: none;
    background-color: rgb(243, 243, 243);
    border-bottom: solid #3E2C41 2px;
    width: 200px;
    height: 5px;
    padding: 5%;
    color: gray;

}
.info-big:focus{
    border-bottom: solid whitesmoke 2px;
}
#date{
    border: none;
    background-color: rgb(243, 243, 243);
    border-bottom: solid #3E2C41 2px;
    width: 200px;
    height: 5px;
    padding: 5%;
    color: gray;
}
#date-big{
    border: none;
    background-color: rgb(243, 243, 243);
    border-bottom: solid #3E2C41 2px;
    width: 200px;
    height: 5px;
    padding: 5%;
    color: gray;
}
#btn{
    text-align: center;
    background-color: #bdcef1;
    width: 70%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.4s;
   
}
#btn:active{
    transform: scale(0.9);
}

#btn-big{
    text-align: center;
    background-color: #bdcef1;
    width: 70%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.4s;
}
#btn-big:active{
    transform: scale(0.9);
}




.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px;

  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
  }
  

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    height: 50px;
    width: 90%;
    border-radius: 10px;
    padding: 2% 16px;
    background-color: #476072;
    color: white;
  }
  #modal-header-text{
    font-family: 'Crimson Pro', serif;
    font-size: 25px;
  }
  #modal-pic{
      height: 200px;
      width: 200px;
      object-fit: cover;
  }
  #modal-text{
    text-align: left;
    font-size: 25px;
    font-family: 'Crimson Pro', serif;
  }
  .modal-body-left{
      background-color: rgb(210, 218, 231);
      margin-right: 50px;
      box-shadow: 3px 6px 20px 0 rgba(0, 0, 0, 0.2);
      padding: 18px;
      width: 40%;
  }
  #noti-title{
    font-size: 25px;
    font-family: 'Crimson Pro', serif;
  }
  #noti-text{
    font-family: 'Crimson Pro', serif;
  }
  .modal-body{
      flex-direction: row;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
      height: fit-content;
  }
  
  .modal-body-right {
    padding: 20px 16px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
 
  .modal-footer {
    padding: 2px 16px;
    background-color: #476072;
    color: white;
  }
  

  .modalBig {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content-big {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 20px;
  }
  

  .close-big {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-big:hover,
  .close-big:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header-big {
    height: 40px;
    border-radius: 10px;
    padding: 2px 16px;
    background-color: #476072;
    color: white;
  }
  #modal-pic-big{
      height: 200px;
      width: 200px;
      object-fit: cover;
  }

  .modal-body-big {
    padding: 20px 16px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
 
  .modal-footer-big {
    padding: 2px 16px;
    background-color: #476072;
    color: white;
  }
  

