
#side-tool{
    width: 15%;
    height: 100%;
    background-color: black;
    position: fixed;
    color: white;
    transition: .4s width;
}

#home-btn {
    color: white;
    font-size: 200%;
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;
}
#side-tool-option-wrapper{
    color: white;
    font-size: 20px;
    position: absolute;
    width: 80%;
    margin-top: 5%;
    top: 100px;
    right: 5px;
    cursor: pointer;
}
#side-tool-home{
    margin-bottom: 20px;
    width: fit-content;
    transition: 0.3s;
    display: block;
    color: gray;
    text-decoration: none;
}

.side-tool-option{
    margin-bottom: 20px;
    width: fit-content;
    transition: 0.3s;
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
}
.side-tool-option::after{
    content:'';
    position: absolute;
    width: 100%;
    height:2px;
    background: white;
    bottom:-5px; /* sao lai the nhi */
    left:0;
    transform: scaleX(0);
    transform-origin: 100%;
    transition: .2s transform;
}
.side-tool-option:hover::after{
    transform: scaleX(1);
    transform-origin: 0%;
}